body {
  font-family: 'Lexend';font-size: 14px;
}
      .listItem{
          border:1px solid #000; width:200px; height:140px; 
          flex-direction: column;
      }
      .list{
         display:flex; flex-wrap: wrap; gap: 35px; 
      }
      .topbar{
          display:flex; justify-content:space-between; border-bottom:1px solid #000; margin-bottom:20px;
      }
      .listContent{
          text-align: center;
      }
      .footer{
          border-top:1px solid #000; margin-top:20px; text-align: center;
      }
      .container{
          width:960px; margin:auto;
      }
      .button {
          background-color: #969393; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          transition: 0.5s;
        }
        .button:hover{
            opacity:0.8;
        }
        .danger{
            background-color: red;
        }
        .text_danger{
            color: red;
        }

        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }

        .show{
            display:block;
        }
        
        .hide{
            display:none;
        }

        .information{
            padding-top:10px;
            padding-bottom:20px;
            font-size: 1.1rem;
        }
